/* postDetails.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.header .navbar ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: #333;
  padding: 10px 0;
  margin: 0;
}

.header .navbar li a {
  color: beige;
  text-decoration: none;
  font-size: 16px;
  padding: 8px;
}

.header .navbar li a:hover {
  background-color: #555;
}

.post-details {
  width: 60%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.post-details img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-details h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.post-details p {
  font-size: 16px;
  color: #555;
}
