@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    background-color: #c8d9e6;
}

.header {
    background: #2f4156;
    text-align: center;
    height: 80px;
  }
  
  .navbar {
    margin: auto;
    padding: 35px 0;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
  }
  
  .navbar ul li {
    font-size: 30px;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
  }

#trending-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
}

.topic {
  background-color: #c8d9e6;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}


