*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #567C8D(110, 100%, 89%);
    background: linear-gradient(to right, #C8D9E6,  #567C8D(110, 100%, 89%));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #C8D9E6;
    border-radius: 30px;
    box-shadow: 0 5px 15px #2F4156(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    min-height: 250px;
}

.container h2{
    color: #2F4156;
}

.container form{
    background-color: #F5EFEB;
    color: #2F4156;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #C8D9E6;
    border: none;
    margin: 15px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 9px;
    width: 100%;
    outline-style:initial;
    color:#2F4156;
}

.container button{
    background-color:#C8D9E6;
    border: none;
    margin: 15px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 9px;
    width: 25%;
    color:#2F4156;
    
}

