@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #567C8D(110, 100%, 89%);
    background: linear-gradient(to right,  #567C8D(110, 100%, 89%),);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.letter{
    background-color: #2F4156;
    border-radius: 30px;
    box-shadow: 0 5px 15px #2F4156(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.letter-lines{
    background-color:black;
    background-color: white;
    height: 2%;
    width: 50%;
    transform: rotate(45deg);
    display: flex;
    margin-top: 15%;
    margin-right: 50%;
    padding-right: 50%;

}